@import "tailwindcss";


html {
  scroll-behavior: smooth;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}


@theme {
  --font-comic: "Bangers", system-ui;
  --font-hero: "Luckiest Guy", system-ui;
}